/* couleur de base 
  rgb(74,64,61)
  rgb(211,17,69)
*/

body{
  background-color:rgb(211,17,69);
}
main {
  padding: 10px;
  position: absolute;
  left: 200px;
  right: 200px;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-right: 4px;
  margin-left: 4px;
  box-shadow: 0px 0px 6px #000 inset;
}

/* toute nav */

nav button {
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
nav button:hover, nav button:active, nav button:active {
  background-color: white;
  color: rgb(211,17,69);
  cursor: pointer;
  box-shadow: 0px 0px 6px #000 inset;
  border-radius: 4px;
}

/* navbartop */

nav .btn_menu_lateraux {
  padding: 4px 8px;
  margin: 0px 10px;
}


/* menu intranet navbarleft */
#navbarleft {
  width:200px;
  position:absolute;
  left:0px;
}
#container_menus {
  display: flex;
}
#navbarleft_menus_peres {
  width: 40px;
}

#navbarleft button {
  color: white;
  width: 100%;
  text-shadow: 2px 2px 2px black;
  background-color: transparent;
  border: none;
  padding: 0.375rem 0.75rem;
  box-shadow: none;
  margin-bottom: 2px;
}
#navbarleft button:hover, #navbarleft button:active, #navbarleft button:active {
  background-color: white;
  color: rgb(211,17,69);
  cursor: pointer;
  box-shadow: 0px 0px 6px #000 inset;
  border-radius: 4px;
}
.navbarleft_menus_peres + div { /* premier élément div enfant de .navbarleft_menus_peres*/
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
}


#navbarleft_menus_enfants {
  flex:1;
  background-color:white;
  border-radius: 4px;
  box-shadow: 0px 0px 6px #000 inset;
  margin-bottom: 2px;
  margin-left: 4px;
}
#navbarleft_menus_enfants a {
  display: block;
}
#navbarleft_menus_enfants a:first-child{
  border-top-right-radius: 4px;
}

.menu_cache {
  display: none;
}

#menu_icon_left {
  width: 100%;
  background-color: transparent;
  padding: 2px;
  margin-right: 2px;
}
#menu_icon_left:hover {
  background-color:white;
  border: none;
}
#menu_icon_left i{
  float:right;
  color: white;
}
#menu_icon_left:hover i{
  color: rgb(211,17,69);
}
/************************/


/* navbarright */
#navbarright {
  width:200px;
  height: 100%;
  position:absolute;
  right:0px;
}








@media screen and (max-width: 768px) {
 
}


 
@media screen and (min-width: 768px) {

}

/* BOOSTRAP */

.navbar-brand {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}


/*nav .dropdown:hover>.dropdown-menu {
  display: block;
}*/

nav .btn{
  border-radius: 0px;
  /*background-color: rgb(74,64,61);*/
  background-color: transparent;
  text-align: left;

}

nav .btn:hover{
  background-color: white;
  border: 1px solid white; /* ne pas enlever sinon une bande transparente apparait*/
  color: rgb(74,64,61);
}

nav .dropdown-menu {
  background-color:white;
  border-width: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 10px #555;
}
#navbarleft .dropdown-menu {
  border-radius: 0px 6px 6px 0px;
  box-shadow: 4px 0px 6px #555;
  margin-left: 4px;
}

nav .dropdown-item {
  padding-left: 10px;
  white-space: normal;
}
nav .dropdown-item:hover{
  color:red;
  background-color:transparent;
}










