body{
  background-color:rgb(211,17,69);;
}
main {
  padding: 10px;
  position: absolute;
  left: 200px;
  right: 200px;
  background-color: white;
}
#navbar{
}

#navbarleft {
  width:200px;
  position:absolute;
  left:0px;
  height: 100%;
}

#navbarright {
  width:200px;
  height: 100%;
  position:absolute;
  right:0px;
}

#menu_icon_left {
  width: 100%;
  background-color: rgb(74,64,61);
  border: 1px solid rgb(74,64,61); /* ne pas enlever sinon une bande transparente apparait*/
  padding: 2px;
}
#menu_icon_left:hover {
  background-color:white;
  border: 1px solid white; /* ne pas enlever sinon une bande transparente apparait*/
}

#menu_icon_left i{
  float:right;
  color: white;
}
#menu_icon_left:hover i{
  color: rgb(74,64,61);
}

nav .btn_menu_lateraux{
  background-color:rgb(74,64,61);
  border: none;
  padding: 4px 8px;
  color:white;
  margin: 0px 10px;
}

/* menu intranet navbarleft */
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 600px;
  height: 800px;
}
#menus_peres {
  width: 100px;
  border: 1px solid purple;
}
#menus_enfants {
  flex:1;
  border:1px solid purple;
  overflow: auto;
}
#bloc3 {
  flex:2;
  border:1px solid purple;
}
#bloc4 {
  flex:1;
  border:1px solid purple;
}




@media screen and (max-width: 768px) {
 
}


 
@media screen and (min-width: 768px) {

}

/* BOOSTRAP */
.text_menu{
  margin-left: 6px;
}
nav .dropdown:hover>.dropdown-menu {
  display: block;
}

nav .btn{
  border-radius: 0px;
  background-color: rgb(74,64,61);
  text-align: left;
}

nav .btn:hover{
  background-color: white;
}

nav .dropdown-item:hover{
  color:red;
}

nav .dropdown-menu {
  background-color:white;
  border-width: 0px;
  border-radius: 0px;
  /*border:1px solid rgb(74,64,61);*/
  border-left:none;
  box-shadow: 0px 0px 10px #555;
}

.navbar-brand {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
#navbarleft button, #navbarright button {
  color: white;
  width: 100%;
  margin: 0px;
}

#navbarleft button:hover{
  color: rgb(74,64,61);
  cursor: pointer;
}




